@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cecece;
  --foreground: #232323;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030303;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", serif;
}
